.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.relative {
  position: relative
}

.top-12 {
  top: 3rem
}

.flex {
  display: flex
}

.h-16 {
  height: 4rem
}

.min-h-screen {
  min-height: 100vh
}

.w-16 {
  width: 4rem
}

.w-8 {
  width: 2rem
}

.w-96 {
  width: 24rem
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-backGround {
  --tw-bg-opacity: 1;
  background-color: rgb(32 38 50 / var(--tw-bg-opacity))
}

.bg-boxColor {
  --tw-bg-opacity: 1;
  background-color: rgb(49 58 73 / var(--tw-bg-opacity))
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.text-center {
  text-align: center
}

.font-custom {
  font-family: Manrope, sans-serif
}

.font-bold {
  font-weight: 700
}

.tracking-widest {
  letter-spacing: 0.1em
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.hover\:bg-green-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity))
}

.hover\:shadow-boxShadow:hover {
  --tw-shadow: 0px 0px 10px 10px rgb(44,95,80);
  --tw-shadow-colored: 0px 0px 10px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}